
*{ 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

$gcl: 4;
$gallary-selector: "";

body{
    background-color: #f6f6f6;
}

div.wrapper{
    max-width: 1366px;
    margin: auto;
    header{
        display: flex;
        align-items: center;
        background-color: #fff;
        width: 100%;
        min-height: 101px;
        margin: auto;
        div.container{
            max-width: 1170px;
            margin: auto;
            padding: 0;
            div.row{
                margin: auto;
                nav {
                    a{
                        &.active{
                            color: #10C9C3;
                        }
                        margin-left: 26px;;
                        font-size: 13px;
                        color: black;
                        font-family: 'Montserrat', sans-serif;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    main{
        section.text{
            min-height: 311px;
            display: flex;
            align-items: center;
            width: 100%;
            div.container{
                margin-top: 12px;
                padding: 0;
                div.row{
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    p{
                        max-width: 512px;
                        width: 100%;
                        text-align: center;

                        &.title{
                            font-size: 38px;
                            font-family: 'Montserrat', sans-serif;
                        }
                        &.description{
                            
                            font-family: 'Nunito Sans', sans-serif;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        @media only screen and (min-device-width: 341.5px) and (max-device-width: 683px){
            section.gallary{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(12, 1fr);
                div{
                    max-height: 301px;
                    max-width: auto;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    position: relative;
                    &:nth-child(odd)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #838383;
                        opacity: 40%;
                    }
                    &:nth-child(even)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #DDDDDD;
                        opacity: 40%;
                    }
                    &:nth-child(5)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #10C9C3;
                        opacity: 40%;
                    }
                    &:nth-child(5)::after{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background: url("/static/image/gallary/look.svg");
                        background-size: 48px, 30px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    img{
                        width: 100%;
                        background-color: black;
                        object-fit: cover;
                    }
                }
            } 
        }
        @media only screen and (min-device-width: 683px) and (max-device-width: 1024.5px){
            section.gallary{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(6, 1fr);
                div{
                    max-height: 301px;
                    max-width: auto;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    position: relative;
                    &:nth-child(odd)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #838383;
                        opacity: 40%;
                    }
                    &:nth-child(even)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #DDDDDD;
                        opacity: 40%;
                    }
                    &:nth-child(6)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #10C9C3;
                        opacity: 40%;
                    }
                    &:nth-child(6)::after{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background: url("/static/image/gallary/look.svg");
                        background-size: 48px, 30px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    img{
                        width: 100%;
                        background-color: black;
                        object-fit: cover;
                    }
                }
            } 
        }
        @media only screen and (min-device-width: 1024.5px) and (max-device-width: 1365px) {
            section.gallary{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                div{
                    max-height: 301px;
                    max-width: auto;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    position: relative;
                    &:nth-child(odd)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #838383;
                        opacity: 40%;
                    }
                    &:nth-child(even)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #DDDDDD;
                        opacity: 40%;
                    }
                    &:nth-child(5)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #10C9C3;
                        opacity: 40%;
                    }
                    &:nth-child(5)::after{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background: url("/static/image/gallary/look.svg");
                        background-size: 48px, 30px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    img{
                        width: 100%;
                        background-color: black;
                        object-fit: cover;
                    }
                }
            } 
        }
        @media only screen and (min-device-width: 1366px) {
            section.gallary{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                div{
                    max-height: 301px;
                    max-width: auto;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    position: relative;
                    &:nth-child(odd)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #838383;
                        opacity: 40%;
                    }
                    &:nth-child(even)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #DDDDDD;
                        opacity: 40%;
                    }
                    &:nth-child(6)::before{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background-color: #10C9C3;
                        opacity: 40%;
                    }
                    &:nth-child(6)::after{
                        content: '';
                        position: absolute;
                        top: 0; right: 0;
                        bottom: 0; left: 0;
                        background: url("/static/image/gallary/look.svg");
                        background-size: 48px, 30px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    img{
                        width: 100%;
                        background-color: black;
                        object-fit: cover;
                    }
                }
            } 
        }
        
    }
}

